HELP.md
target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Node ###
node
node_modules
.parcel-cache

### Application Properties ###
src/main/resources/application.properties
src/main/java/com/prakhar/nextTimer/Config/DataLoader.java
*.jpg
